<h1>Emergencias naturales</h1>
<ngx-spinner size="medium" type="ball-clip-rotate"></ngx-spinner>
<div class="list-group" *ngIf="!errorMsg">
  <div class="list-group-item" *ngFor="let emergencie of naturalEmergencies">
    <div class="m-4">
      <h3 class="mb-3 mt-2"><strong>{{ emergencie.evento }}</strong> - <span><small class="text-success">{{ emergencie.departamento }}</small></span></h3>
      <p class="mb-1 mt-1"><strong>Muertos: </strong><span class="ml-2"> {{ emergencie.muertos || 0 | number}} </span></p>
      <p class="mb-1 mt-1"><strong>Heridos: </strong><span class="ml-2"> {{ emergencie.heridos || 0 | number }} </span></p>
      <p class="mb-2 mt-1"><strong>Ubicación: </strong> <span class="text-primary ml-1"> {{ emergencie.municipio }}</span></p>
      <p class="mb-1 mt-1"><strong>Fecha: </strong><span class="ml-1 text-info"> {{ emergencie.fecha | date }} </span></p>
    </div>
  </div>
</div>

<h3 *ngIf="errorMsg && errorMsg !== ''" class="m-2 p-2 text-danger">{{ errorMsg }}</h3>