<nav class="navbar navbar-expand-sm fixed-top bg-light border-bottom">
  <a class="navbar-brand" routerLink="/"><strong>DATOS ABIERTOS</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/medicines">Medicamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/emergencies">Emergencias</a>
      </li>
    </ul>
  </div>
</nav>
