<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bienvenido a Datos Abiertos</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
        Proyecto hecho por <strong><a href="https://www.linkedin.com/in/lucas-vera-1355b479/">Lucas Vera Toro</a></strong> para explorar la plataforma de <a href="https://datos.gov.co/">Datos abiertos</a>
        del gobierno de Colombia.
      </p>
      <p>
        Los datos abiertos son una gran herramienta para involucrarse con la comunidad, además de ser una gran oportunidad para exponer de una manera clara, sencilla y fácil de entender
        los diferentes datos publicados por entidades públicas o privadas de Colombia. También permite explorar diferentes ideas de negocio y oportunidades de emprendimiento. 
        <a href="https://es.wikipedia.org/wiki/Datos_abiertos">Ver más (Wikipedia)</a>
      </p>
    </div>
  </div>
</div>
